@media (max-width: 760.98px) { 
    nav a{
        display: none;
    }

    #dot-navbar{
        opacity: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .landing-img{
        display: none !important;
        position: relative;
    }

    .content-about{
        margin-top: 2rem !important;
    }
    .content-about p{
        width: 80vw !important;
    }
}