@media (max-width: 575.98px) {

    #landing .section-grid{
        grid-template-areas: "text text text text" "text text text text" "text text text text" "text text text text"!important;
    }

    .socials-media-cards{
        margin-left: 5vw !important;
        flex-direction: column !important;
        scroll-snap-type: x mandatory !important;
        width: 100vw !important;
        max-width: 90vw;
        overflow-x: scroll;
    }

    #laravel{
        margin-left: 1.5rem !important;
        margin-right: auto;
    }

    #laravel .icon i{
        font-size: 7rem !important;
    }

    #laravel .information-title{
        font-size: 1rem !important;
    }

    #laravel .information-content{
        font-size: .75rem !important;
    }

    .skill-item .description{
        font-size: .25rem;
    }
    
    .social-card{
        scroll-snap-align: center !important;
        width: 90vw !important;
        height: 40vh !important;
    }
    
    .landing-title {
        font-size: 2rem !important;
    }

    .text-sm-center{
        text-align: center !important; 
    }

    .content-about{
        margin-top: 1rem !important;
    }
    .content-about p{
        width: 80vw !important;
    }

    .skills-main{
        margin-left: -55dvw;
    }

    .project-card{
        height: 290px !important;
    }
    

    .project-card-description{
        margin-top: 1rem !important;
    }

    .project-card-title{
        font-size: 1rem !important;
    }
    .project-card-paragraph{
        margin-top: 1rem !important;
        font-size: .75rem !important;
    }
}