/* 
CREATED BY KENLY KRISAGUINO SANTOSO
FULL STACK DEVELOPER
*/

:root{
    --primary-color: #ffdd69;
    --primary-color-dark: hsl(46, 100%, 45%);
}

a{
    text-decoration: none;
    color: inherit;
}

*{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    overflow-y: hidden;
}

::-webkit-scrollbar{
    display: none;
}

body {
    background: linear-gradient(#00000080, #00000055), 
    url(../img/background/background.webp);
    min-height: 100vh;
    background-size: cover;
}

section{
    box-sizing: border-box;
    height: 100vh;
    border: 1px solid red;
}
