/* 
CREATED BY KENLY KRISAGUINO SANTOSO
FULL STACK DEVELOPER
*/

:root{
    --primary-color: #ffdd69;
    --primary-color-dark: hsl(46, 100%, 45%);
    --white: #e5e5e5;
    --gray: #979797;

}

a{
    text-decoration: none;
    color: inherit;
}

*{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    color: var(--white);
    scroll-behavior: smooth;
}

hr{
    border: none;
    height: 1px;
    width: 80vw;
    position: fixed;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--gray);
    z-index: 55;
}

::-webkit-scrollbar{
    display: none;
}

body, html {
    background: linear-gradient(#00000080, #00000055), 
    url(../img/background/background.webp);
    background-repeat: repeat;
    min-height: 100dvh;
    background-size: contain;
    scroll-snap-type: y mandatory;
}

nav{
    background: linear-gradient(0deg, #00000000, #000000ff 50%);
    height: 75px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 50;
}

.active-link{
    transform: scale(1.1);
    color: var(--primary-color);
    transition: 0.3s ease-in-out;
}

nav a:hover{
    color: var(--primary-color-dark);
    transform: translateY(-1px);
    transition: .3s ease;
}

#dot-navbar{
    display: block;
    position: fixed;
    top: 63px;
    width: 10px;
    height: 10px;
    background-color: var(--primary-color-dark);
    border-radius: 50%;
    transition: .5s ease;
    z-index: 55;
}

main {
    min-height: 100dvh;
}

.y-scroll-snapping{
    scroll-snap-type: y mandatory !important;
}
section{
    height: calc(100dvh - 100px);
    padding-top: 100px;
    scroll-snap-align: start; /* Adjust as needed, 'start' or 'end' could be used */
}
section#landing {
    padding-top: 50px !important;
}

.section-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    height: 100%;
    width: 100%;
}

.sub-title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#landing .section-grid{
    grid-template-areas: "text text picture picture" "text text picture picture" "text text picture picture" "text text picture picture";
    justify-items: center;
    align-items: center;
}

#landing-skills{
    height: 1rem;
}

.landing-title{
    grid-area: text;
    width: 100%;
    font-size: 2.25rem;
}
.landing-img{
    grid-area: picture;
    display: block;
    width: 100%;
}

.landing-img img{
    max-height: 500px;
}

#skills .section-grid{
    grid-template-areas: "about about about about" "skills skills skills skills" "skills skills skills skills" "skills skills skills skills";
}

.about{
    grid-area: about;
}
.skills{
    grid-area: skills;
}

.content-about{
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
}
.content-about p{
    width: 40vw;
}

#projects .section-grid{
    grid-template-areas: "title title title title" "content content content content" "content content content content" "content content content content";
}

.projects-title{
    grid-area: title;
    font-size: 1.5rem;
    text-align: center;
}

.projects-content{
    grid-area: content;
}

#socials .section-grid{
    grid-template-areas: "title title title title" "content content content content" "content content content content" "content content content content";
}

.socials-title{
    grid-area: title;
    font-size: 1.5rem;
}

.socials-content{
    grid-area: content;
}